.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: fit-content;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small {
    width: 56px;
    height: 56px;
}

.letter {
    text-transform: uppercase;
}

.default {
    border: 4px solid var(--default-color);
}

.absolute {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.head.element {
    top: -80px;
}

.head.string {
    top: -40px;
}

.index {
    bottom: -40px;
}

.tail40.string {
    bottom: -30px;
}

.tail80.string {
    bottom: -80px;
}

.tail40.element {
    bottom: -80px;
}

.tail80.element {
    bottom: -100px;
}
