.content {
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleBox {
    display: flex;
    justify-content: center;
    margin: auto;
}

.contentCard {
    background: #ffffff;
    margin: 31px 20px 28px;
    padding: 36px;
    height: 693px;
    box-sizing: border-box;
}

.returnButton {
    margin-bottom: 10px;
}

.cardTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 36px;
}

.link {
    text-decoration: none;
}
