:root {
    --background: #141218;
    --offset-base-size: 2px;

    --common-border-radius: 4px;

    --text-color-primary: #19192D;
    --text-color-secondary: #FFF7E9;

    --text-color-h1: #FFF7E9;;
    --text-color-black: #141218;;
    --text-color-input: #FFF7E9;
    --text-input-placeholder: #7a7a7a;

    --bg-input-hover: #fafafa;
    --bg-input-disabled: #ebebeb;

    --red-bg-color: #F46C5C;

    --bg-button-default: #FFF7E9;
    --bg-button-hover: #9D755B;
    --bg-button-active: #319b88;
    --bg-button-disabled: #3A394F;

    --default-color: #e0b351;
    --changing-color: rgb(75, 25, 25);
    --modified-color: #e0b351;

    --common-transition: all 0.4s ease-in;
}


body {
    font-family: -apple-system, Roboto,
    Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    color: var(--text-color-primary);
    background: var(--background);
}

/* Typography classes */

.text {
    margin: 0;
    padding: 0;
}

.text_color_primary {
    color: var(--text-color-primary);
}

.text_color_secondary {
    color: var(--text-color-secondary);
}

.text_color_h1 {
    color: var(--text-color-h1);
}

.text_color_h2 {
    color: var(--text-color-h1);
}

.text_color_black {
    color: var(--text-color-black);
}

.text_color_input {
    color: var(--text-color-primary);
}

.text_color_lim {
    color: var(--text-color-secondary);
}

.text_color_link {
    color: var(--default-color);
}

.text_color_accent {
    color: var(--red-bg-color);
}


.text_type_h1 {
    font-family: 'JOURNALISM', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 134px;
    line-height: 163px;
}

.text_type_h2 {
    font-family: "JOURNALISM", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 90px;
}

.text_type_h3 {
    font-family: "JOURNALISM", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 70px;
}

.text_type_button {
    font-family: "Amatic SC", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
}

.text_type_input {
    font-family: "Amatic SC", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
}

.text_type_column {
    font-family: "Amatic SC", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}

.text_type_input-lim {
    font-family: "Amatic SC", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
}

.text_type_circle {
    font-family: "Amatic SC", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
}



.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}
