:root {
    --background: #141414;
    --offset-base-size: 2px;

    --common-border-radius: 4px;

    --text-color-primary: rgba(98, 145, 145, 0.13);
    --text-color-secondary: #fff;

    --text-color-h1: #fff;;
    --text-color-black: #fff;;
    --text-color-input: #3d3d3d;
    --text-input-placeholder: #7a7a7a;

    --bg-input-hover: #fafafa;
    --bg-input-disabled: #ebebeb;

    --red-bg-color: #790000;

    --bg-button-default: #b6b6b6;
    --bg-button-hover: #59b71d;
    --bg-button-active: #bec2c2;
    --bg-button-disabled: #a4a4a4;

    --default-color: #dabc8c;
    --changing-color: rgb(87, 87, 87);
    --modified-color: #e0b351;

    --common-transition: all 0.4s ease-in;
}


body {
    font-family: -apple-system, Roboto,
    Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    color: var(--text-color-primary);
    background: var(--background);
}

/* Typography classes */

.text {
    margin: 0;
    padding: 0;
}

.text_color_primary {
    color: var(--text-color-primary);
}

.text_color_secondary {
    color: var(--text-color-secondary);
}

.text_color_h1 {
    color: var(--text-color-h1);
}

.text_color_black {
    color: var(--text-color-black);
}

.text_color_input {
    color: var(--text-color-input);
}

.text_color_link {
    color: var(--default-color);
}

.text_type_h1 {
    font-family: Bergamasco, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 134px;
    line-height: 163px;
}

.text_type_h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
}

.text_type_h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.text_type_ticker {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 54px;
}

.text_type_button {
    font-family: -apple-system, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
}

.text_type_input {
    font-family: -apple-system, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.text_type_input-lim {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.text_type_circle {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.text_type_column {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}
